<?xml version="1.0" encoding="iso-8859-1"?>
<config>
	<info>
		<id>35979260-BD0B-11DF-851A-0800200C9A66</id>
		<version>0.5.201010272118</version>
		<name>Membase Cache</name>
		<type>server</type>
		<label>Membase Cache</label>
		<description>Membase Cache Extension</description>
		<created>2010-October-27 21:18</created> 
		<category>Core Extension</category>
		<author>Andrea Campolonghi</author>
		<image>http://preview.getrailo.org/logos/membase-logo.png</image>
		<mailinglist>http://groups.google.com/group/railo-beta</mailinglist>
		<support>http://groups.google.com/group/railo-beta</support>
		<documentation>http://wiki.getrailo.com/wiki/extensions:membase</documentation>		
	</info>
</config>

